/*
#contenantSVG{
    position: relative;
    left: 20%;
    width: 700px;
    height: 450px;
}
*/

#figure circle{
     fill:red; 
     stroke-width:4;
     stroke:#0000ff;
}

#figure ellipse{
     fill:#00ff00; 
     stroke-width:4;
     stroke:#0000ff;
}

/*
#figure ellipse:nth-child(2){
    transform-origin:center center;
    transform:rotate(-90,190,200);
}
*/

.animRotation{
    animation: animationRotation 3s linear infinite;
    transform-origin:center center;
}

@keyframes animationRotation { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}